<div class="jumbotron">
  <h2>Now Playing in Greece</h2>
</div>
<div class="movies">
    <% @dbmovies.each do |dbmovie| %>
      <div class="card">
        <img class="card-img-top" src="<%= "https://image.tmdb.org/t/p/w500#{dbmovie.poster_path.to_s}" %>" alt="movie poster">
        <div class="card-body">
          <h3 class="card-title"><%= dbmovie.title %></h3>
          <p class="card-subtitle text-muted">Original Title: <%= dbmovie.original_title %></p>
          <p class="card-subtitle text-muted">Release Date: <%= dbmovie.release_date %></p>
          <p class="card-text"><%= dbmovie.description %></p>
          <p class="card-text">Director(s):<% format_directors(dbmovie.directors).each do |director| %> <%= link_to(director[0], 'http://www.imdb.com/name/' + director[1].to_s) %> <%end%></p>
        </div>
      </div>
    <% end %>
</div>
